:root {
    --yellow: hsl(47, 88%, 63%);
    
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: var(--yellow);
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
}